@tailwind base;
@tailwind components;
@tailwind utilities;

/* Untuk menyembunyikan scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}